.area-list ul {
    background: #fff;
    background-color: #fff;
    position: absolute;
    top: 100%;
    z-index: 2;
    width: 98%;
    margin-top: 1px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08)
}

.area-list li {
  
    list-style: none;
    padding: 15px 25px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}
.area-list li:hover {
    background: #fafafa;
}
img {
    width: 100%;
}