<div class="row order-details chekout-cart ">
    <h5 class="text-center text-uppercase">YOUR ORDER KFC </h5>
    <div class="col-md-12">
      <li class="row" *ngFor="let c of cartList;let i=index" >
  
        <span class=" item-name">{{c.quantity}} x {{c.name}}</span>

        <span class="item-price "style="width:55%;text-align: right;">BDT {{c.price}}</span>
       
      </li>
      <!-- <li class="row">
          <span class="item-count">1 x </span> 
          <span class=" item-name" >Raaj Darbar Special Biriyani</span>
          <span class="item-price " >BDT 120</span>
          <span class="remove-item ">X</span>
        </li> -->
  
    </div>
  </div>
  <div class="row order_total_balance">
    <p class="col-md-12">Subtotal
      <span>BDT {{subTotal}}</span>
    </p>
    <p class="col-md-12">Delivery Fee
      <span>BDT {{deliveryFee}}</span>
    </p>
    <!-- <p class="col-md-12">
      <b>Total (incl VAT)
        <span>BDT {{cartdetails.subtotal+cartdetails.delivery_fee}} </span>
      </b>
    </p> -->
  </div>
